* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}

header {
    text-align: center;
    padding: 30px;
    color: white;
}

.global {
    /*display: flex;*/
}

.esquerda {
    text-align: center;
    margin: 20px;
    padding: 5px;
    
    /*position: absolute;
    top: 30px;
    left: 150px;*/
}

.direita {
    text-align: center;
}

.img1 {
    border-radius: 5%;
    /*position: absolute;
    top: 50px;
    right: 500px;*/
}

.img2 {
    border-radius: 5%;
}

.img3 {
    border-radius: 5%;
}

.img4 {
    border-radius: 5%;
}

.img5 {
    border-radius: 5%;
}

.img6 {
    border-radius: 5%;
}

.img7 {
    border-radius: 5%;
}

.img8 {
    border-radius: 5%;
}

.img9 {
    border-radius: 5%;
}

.img10 {
    border: solid 4px darkgoldenrod ;
}

.direita:hover {

}

.img-Direita:hover {

}

footer {
    text-align: center;
    padding: 20px;
    color: white;
}